<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="margin-left: 1rem;">
        <img src="https://cdn.myanimelist.net/r/360x360/images/characters/16/158175.jpg?s=bb6966640d2b7ee7a47a12bcddb09b52" width="50" height="50" class="d-inline-block align-center rounded-circle" alt="">
        <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href={{ url_for('index') }}>Home</a>
            <a class="nav-link" href={{ url_for('blog') }}>Blog</a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Projects
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href={{ url_for('projects.Kalani') }}>Kalani</a></li>
                    <li><a class="dropdown-item" href={{ url_for('projects.navan') }}>Navan</a></li>
                    <li><a class="dropdown-item" href={{ url_for('projects.safin') }}>Safin</a></li>
                    <li><a class="dropdown-item" href={{ url_for('projects.hawkers') }}>Alex's Page</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>