<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to walruses -->
{% set project = "Safin" %}
{% set overview = "https://www.safin.dev" %}
{% set scrumboard = "https://github.com/users/safinsingh/projects/1" %}
{% set repo = "https://github.com/safinsingh/fastpages-apcsp" %}
{% set authors = "https://github.com/safinsingh"  %}

<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.net.min.js') }}"></script>
    <script defer>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0xffffff,
            backgroundColor: 0x0,
            points: 7.00,
            maxDistance: 23.00,
            spacing: 18.00
        })
    </script>
{% endblock %}